# Laptop Price Predictor Based on various features

## Importing the libraries

In [43]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Preparing the Dataset

In [44]:
dataset = pd.read_csv('laptops3.csv')
X = dataset.iloc[:,:-1:].values
Y = dataset.iloc[:,-1].values
dataset.head()

,Company,Inches,Cpu,Ram(in GB),Memory(in GB),Gpu,OpSys,Weight,Price_euros
0,Apple,13.3,Intel Core i5 2.3GHz,8,128,Intel Iris Plus Graphics 640,macOS,1.37,1339.69
1,Apple,13.3,Intel Core i5 1.8GHz,8,128,Intel HD Graphics 6000,macOS,1.34,898.94
2,HP,15.6,Intel Core i5 7200U 2.5GHz,8,256,Intel HD Graphics 620,No OS,1.86,575.00
3,Apple,15.4,Intel Core i7 2.7GHz,16,512,AMD Radeon Pro 455,macOS,1.83,2537.45
4,Apple,13.3,Intel Core i5 3.1GHz,8,256,Intel Iris Plus Graphics 650,macOS,1.37,1803.60

## Using LabelEncoder to label non-numeric columns

In [45]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
X[:, 0] = labelencoder.fit_transform(X[:, 0])
X[:, 2] = labelencoder.fit_transform(X[:, 2])
X[:, 5] = labelencoder.fit_transform(X[:, 5])
X[:, 6] = labelencoder.fit_transform(X[:, 6])

In [46]:
pd.DataFrame(X).head()

   0     1   2   3    4   5  6     7
0  1  13.3  65   8  128  58  8  1.37
1  1  13.3  63   8  128  51  8  1.34
2  7  15.6  74   8  256  53  4  1.86
3  1  15.4  85  16  512   9  8  1.83
4  1  13.3  67   8  256  59  8  1.37

## Splitting into train and test set

In [47]:
#train_test split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 0)

## Fitting multiple linear regression to the training set

In [48]:
from sklearn.linear_model import LinearRegression
# creating regressor object 
regressor1 = LinearRegression()
regressor1.fit(X_train, Y_train)

LinearRegression()

### Predicating y-values using multiple linear regression

In [49]:
pred1 = regressor1.predict(X_test)

## Fitting Decision Tree regression to the training set

In [50]:
from sklearn.tree import DecisionTreeRegressor as DTR
regressor2 = DTR(random_state = 0)
regressor2.fit(X_train, Y_train)

DecisionTreeRegressor(random_state=0)

### Predicating y-values using decision tree regression

In [51]:
pred2 = regressor2.predict(X_test)

## Building the Random Forest Regression model

In [52]:
from sklearn.ensemble import RandomForestRegressor 
# creating regressor object 
regressor3 = RandomForestRegressor(n_estimators = 20, random_state = 0) 
regressor3.fit(X_train, Y_train)

RandomForestRegressor(n_estimators=20, random_state=0)

### Predicating y-values using random forest regression

In [53]:
pred3 = regressor3.predict(X_test)

## Inspecting the model score of the three regressors

### 1. Multiple Linear Regression

In [54]:
regressor1.score(X_test, Y_test)

0.6436202084929916

### 2. Decision Tree Regression

In [55]:
regressor2.score(X_test, Y_test)

0.6455533201997434

### 3. Random Forest Regression

In [56]:
regressor3.score(X_test, Y_test)

0.8344950562408999

In [60]:
a = pd.DataFrame(Y_test).head(10)
b = pd.DataFrame(pred1).head(10)
c = pd.DataFrame(pred2).head(10)
d = pd.DataFrame(pred3).head(10)

In [61]:
a

         0
0   389.00
1  2968.00
2  1859.00
3   612.61
4  2397.00
5   586.60
6   400.00
7   459.90
8  1144.50
9  2999.00

In [62]:
b

             0
0   690.865130
1  2112.442026
2  2018.192658
3   548.991041
4  1902.516092
5   578.179725
6   206.024897
7   255.757451
8  1034.401443
9  1911.845626

In [63]:
c

         0
0   369.00
1  1059.00
2  1649.00
3   485.00
4  1963.21
5   435.00
6   387.00
7   375.00
8   850.66
9  2499.00

In [64]:
d

             0
0   381.603667
1  2189.497500
2  1832.150000
3   531.619000
4  1885.633750
5   495.677000
6   412.700000
7   390.316667
8   907.694167
9  2559.618500